@media (min-width: 980px){
    .second_logos__container{
        flex-direction: row;
    }

    .answers__container{
        margin-top: 110px;
        width: 80%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .answer_card__container{
        max-width: 25%;
        max-height: 400px;
    }

    .main_title__container{
        text-align: center;
    }
}