*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: locatorRegular;
    src: url('../assets/fonts/locator-regular.otf');
}
@font-face {
    font-family: locatorMedium;
    src: url('../assets/fonts/locator-medium.otf');
}
@font-face {
    font-family: locatorLight;
    src: url('../assets/fonts/locator-light.otf');
}
@font-face {
    font-family: locatorBlack;
    src: url('../assets/fonts/locator-black.otf');
}
html{
    font-family: locatorRegular;
    font-size: 62.5%;
}


.header__container{
    width: 100%;
    min-height: 250px;
    background-image: url('../assets/img/banner.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.logo__container{
    width: 100%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.logo{
    width: 80%;
    max-height: 20vh;
    max-width: 150px;
    justify-content: center;
    align-self: center;
}

.second_logos__container{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.microbiome{
    width: 33%;
    max-width: 150px;
    justify-content: center;
    align-self: center;
}
.dermlive{
    width: 50%;
    max-width: 200px;
    justify-content: center;
    align-self: center;
}
.dermlivelaroche{
    width: 33%;
    max-width: 150px;
    justify-content: center;
    align-self: center;
}

.form_main__container{
    /* display: none; */
    width: 90%;
    height: auto;
    max-height: 500px;
    max-width: 500px;
    margin: 40px auto 40px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 8px 8px rgba(89,73,30, 0.50);
}

.form__container{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 90%;
    padding: 20px 0px 20px 50px;
}

.email{
    margin-top: 10px;
}

.error__message{
    color: red;
    position: relative;
    top: 1px;
}

.main_result__container{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_result__container h1{
    font-size: 3rem;
    font-weight: 400;
}

label span{
    color: black;
    font-size: 1.6rem;
}

.input{
    background-color: transparent;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    width: 100%;
    outline: none;
    height: 50px;
    font-family: locatorRegular;
}

input:placeholder-shown{
    text-overflow: ellipsis;
}

.start__button{
    float: right;
    font-family: locatorRegular;
    padding: 10px 30px;
    background-color: #46B7E8;
    border: none;
    color: white;
    font-family: locatorMedium;
    border-radius: 8px;
    height: 45px;
    transform: scale(1);
    animation: pulseA 2s infinite;
    outline: 0;
    padding: -2px;
    cursor: pointer;
}

.start__button:active{
    transform: translateY(4px);
}

.main__container{
    margin-right: auto;
    margin-left: auto;
    width: 90%;
    background-color: #EBEBEB;
}


.trivia_main__container{
    display: none;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 50px;
}

.trivia__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main_title__container{
    display: flex;
    width: 80%;
    height: auto;
    
}

.title__container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
}

.title__container h2{
    padding-top: 10px;
    font-weight: 400;
    font-size: 3rem;
}

.finish_trivia_button__container{
    width: 90%;
    height: 50px;
    margin: 0 auto 0 auto;
}

.finish_trivia__button{
    background-color:lightgrey;
    border: none;
    width: 100%;
    height: 45px;
    margin-top: 10px;
    border-radius: 8px;
    color: white;
    font-family: locatorMedium;
}

@keyframes pulseA{
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(70, 183, 232, 0.7);
    }
    
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(70, 183, 232, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(70, 183, 232, 0);
    }
}

.card__container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.overlay1, .overlay2{
    background: #0000004f;
    width: 90%;
    height: 96%;
    margin-top: 19px;
    position: absolute;
    align-self: center;
}

.answers__container{
    display: none;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 50px;
}

.answer_card__container{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 90%;
    min-height: 450px;
    margin-bottom: 10px; 
    margin-top: 25px;
    padding-bottom: 20px; 
    background-color: white;
    box-shadow: 0px 8px 8px rgba(89,73,30, 0.50);
}

.card__content{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.card__title{
    padding-top: 50px;
    padding-right: 15px;
    font-size: 2.8rem;
    font-family: locatorBlack;
}

.card_second__title{
    padding-bottom: 10px;
    font-size: 2.3rem;
    font-family: locatorRegular;
}

.card__content p{
    font-size: 1.6rem;
    font-family: locatorLight;
    line-height: 1.8rem;
    margin-bottom: 20px;
}

.card__content a{
    color: black;
    font-family: locatorMedium;
}

.answer__button{
    width: 40px;
    height: 40px;
    margin: 10px 0 10px 0;
}

.affirmation_card__container{
    margin-top: 20px;
    width: 90%;
    min-height: 150px;
    align-self: center;
    background-color: white;
}

.affirmation_card__container h4{
    padding: 15px;
    font-size: 1.6rem;
    font-weight: 400;
}

.affirmation_img__container{
    width: 100%;
    height: auto;
    min-height: 300px;
    align-self: center;
    margin-top: 10px;
    position: relative;
}

.affirmation__img{
    width: 90%;
    min-height: 300px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
}

.affirmative__button{
    position: absolute;
    top: calc(100% - 60px);
    left: calc(50% - 60px);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-image: url('../assets/img/affirmativebtn.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: 0;
    padding: -2px;
    cursor: pointer;
    transform: scale(1);
    animation: pulseA 2s infinite;
}

.affirmative__button:active{
    transform: translateY(4px);
}

.negative__button{
    position: absolute;
    top: calc(100% - 60px);
    right: calc(50% - 60px);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    background-image: url('../assets/img/negativebtn.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    outline: 0;
    cursor: pointer;
    transform: scale(1);
    animation: pulseA 2s infinite;
}

.negative__button:active{
    transform: translateY(4px);
}



