@media (min-width: 980px){
    .trivia__container{
        flex-direction: row;
    }
    .title__container{
        width: 45%;
    }
    .card__container{
        max-width: 25%;
    }

    .second_logos__container{
        flex-direction: row;
    }
}